:root {
  --tile-size: 90px;
  --light-tile: #fefefe;
  --dark-tile: #5762ef;
  --bg-color: #202020;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

body {
  color: --light-title !important;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

/* board */
.board {
  display: grid;
  grid-template-columns: calc(0.25 * var(--tile-size)) calc(
      8 * var(--tile-size)
    );
}
.ranks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.files {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: calc(0.25 * var(--tile-size));
}
/* tiles */

.tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: calc(8 * var(--tile-size));
}

.tile {
}

.light-tile {
  background-color: var(--light-tile);
}

.dark-tile {
  background-color: var(--dark-tile);
}
